<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>404 - Page Not found</title>
      <link rel="stylesheet" href="/Static/css/404_style.css">
</head>

<body>

  <div class="me404">
  <div class="clouds"></div>
  <div class="the404"></div>
  <div class="monkey">
    <div class="monkey-eye-l"></div>
    <div class="monkey-eye-r"></div>
  </div>
  <div class="moon"></div>
  <div class="platform"></div>
  <div class="star1"></div>
  <div class="star2"></div>
  <div class="star3"></div>
  <div class="star4"></div>
  <div class="swirl"></div>
  <div class="sword">
    <div class="sword-shadow"></div>
  </div>
  <div class="tetris"></div>
  <div class="triforce"></div>
</div>
  
  

</body>

</html>
